---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>about</title>
	</head>
	<body>
        <a href="/">home</a>
        <a href="/about">about</a>
		<a href="/blog">blog</a>
		
		<h1>about</h1>
		<h2>me</h2>
        <p>info about me</p>
        <h2>this site</h2>
        <p>it's the tutorial for making a new astro site</p>
	</body>
</html>