---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await getCollection("blog");
const pageTitle = "blog";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>posts</h2>
    <p>here are the list of posts</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />)}
    </ul>
</BaseLayout>